.whead {
    background-color: white;
    padding: 3vh 50.2vw;
    z-index: -5;
    position: absolute;
    left: -1vw;
    top:-1.2vh
}
.lhead {
    position: absolute;
    background-color: black;
    margin-top: -.6vh;
    border-radius: .5vw;
    font-size: 2vw;


}
.lhead2 {
    position: absolute;
    margin-left: 7vw;
    margin-top: -.6vh;
    background-color: black;
    border-radius: .5vw;
    font-size: 2vw;

}
a {
    text-decoration: none;



}
.dlogo {
    width: 22vw;
    position: absolute;
    margin-left: 78.5vw;
    cursor: pointer;
    top: 60vh;
}
.dlink {
    position: absolute;
    cursor: pointwr;
    padding: 15vh 10vw;
    z-index: 5; 
    top: 67vh;
    margin-left: 80vw;
}
.ryan {
    width: 18vw;
    position: absoulte;
    margin-left: 81vw;
    margin-top: 12.5vh;

}



body {
    background-image: url(hback.png);
    background-size: 100vw;
    position: relative;
    overflow: hidden;
}
html {
    font-family: helvetica, serif;
    font-size: 2.2vw;
}
h1 {
padding-left: 0.7575757575757576vh;
padding-right: 0.7575757575757576vh;
margin-right: 16%;
margin-top: 5%;
position: absolute;
color: black;
-webkit-text-stroke-color: white ;
-webkit-text-stroke-width: 0.3787878787878788vh;
font-size: 12.121212121212121vh;
background-color: rgba(0, 0, 0, 0.30);
border-radius: 1.5151515151515151vh;
}
.p1 {
margin-top: 15%;
margin-left: 0%;
margin-right: 35%;
color: white;
font-size: 5.303030303030303vh;
position: absolute;
background-color: rgba(0, 0, 0, 0.42);
border-radius: 1.5151515151515151vh;
padding-left: 0.7575757575757576vh;
padding-right: 0.7575757575757576vh;
}
